<div class="row">
  <div class="col-md-8">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">User Type</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clientArray" [class.active]="client == selectedClient">
            <td>{{client.userId}}</td>
            <td>{{client.userTypeId}}</td>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td><a class="btn btn-success" [routerLink] ="['/view/' , client.userId]" >view detail</a></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-md-4">
        
         <app-add-client></app-add-client>
        
  </div>
</div>

