<div class="row">
  <div class="col-md-8">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">User Type</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clientArray">
            <td>{{client.userId}}</td>
            <td>{{client.userTypeId}}</td>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-md-4">
        <form action="">
          <label for="name">Name</label>
          <input type="text" name="name" id="" class="form-control">
          <label for="email">Email</label>
          <input type="email" name="email" id="" class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="" class="form-control">
        
          <button class="btn btn-success mt-2">Add</button>
        </form>
  </div>
</div>

