<h3 class="h3">shopping Demo-1 </h3>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productArray">
                    <td>{{product.productId}}</td>
                    <td>{{product.productCategoryId}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td><a class="btn btn-success" [routerLink]="['/view/' , product.userId]">view detail</a></td>
                </tr>
            </tbody>
        </table>
    </div>


